# Exploration base de données graphe

In [2]:
import pandas as pd

In [14]:
df = pd.read_csv("20230106100009_observatoire_2g_3g_4g.csv",sep = ";")
print(len(df))
print(df.columns)
df.head()

656764
Index(['id', 'adm_lb_nom', 'sup_id', 'emr_lb_systeme', 'emr_dt', 'sta_nm_dpt',
       'code_insee', 'generation', 'date_maj', 'sta_nm_anfr', 'nat_id',
       'sup_nm_haut', 'tpo_id', 'adr_lb_lieu', 'adr_lb_add1', 'adr_lb_add2',
       'adr_lb_add3', 'adr_nm_cp', 'com_cd_insee', 'coordonnees', 'coord',
       'statut'],
      dtype='object')

,id,adm_lb_nom,sup_id,emr_lb_systeme,emr_dt,sta_nm_dpt,code_insee,generation,date_maj,sta_nm_anfr,...,tpo_id,adr_lb_lieu,adr_lb_add1,adr_lb_add2,adr_lb_add3,adr_nm_cp,com_cd_insee,coordonnees,coord,statut
0,1,SFR,440000,GSM 900,2008-12-19,091,91137,2G,2023-01-04,0912700030,...,65.0,LE CHÂTEAU GAILLARD,NaN,NaN,NaN,91150,91137,"48.346666666667, 2.323333333333",48°20'48''N 2°19'24''E,En service
1,2,SFR,440000,LTE 800,2016-12-16,091,91137,4G,2023-01-04,0912700030,...,65.0,LE CHÂTEAU GAILLARD,NaN,NaN,NaN,91150,91137,"48.346666666667, 2.323333333333",48°20'48''N 2°19'24''E,En service
2,3,SFR,440000,UMTS 900,2016-12-12,091,91137,3G,2023-01-04,0912700030,...,65.0,LE CHÂTEAU GAILLARD,NaN,NaN,NaN,91150,91137,"48.346666666667, 2.323333333333",48°20'48''N 2°19'24''E,En service
3,4,SFR,440000,UMTS 2100,2011-10-04,091,91137,3G,2023-01-04,0912700030,...,65.0,LE CHÂTEAU GAILLARD,NaN,NaN,NaN,91150,91137,"48.346666666667, 2.323333333333",48°20'48''N 2°19'24''E,En service
4,5,SFR,81600,GSM 900,2016-05-25,060,60517,2G,2023-01-04,0602700336,...,65.0,NaN,R PRINCIPALE DU VILLAGE,PRES RN 1,NaN,60540,60517,"49.223611111111, 2.231666666667",49°13'25''N 2°13'54''E,En service

In [13]:
get_values_set("sta_nm_anfr")

114264

In [17]:
def get_values_set(attribute):
    set_ =  set(df[attribute].values)
    l = len(set_)
    print(l)
    if l<=50 :
        print(set_)

In [19]:
for col in df.columns:
    print(col)
    get_values_set(col)
    print("--------------------------------------")

id
656764
--------------------------------------
adm_lb_nom
21
{'ONATI', 'SRR', 'FREE CARAIBES', 'TELCO OI', 'UTS Caraibes', 'VITI SAS', 'SPT', 'FREE MOBILE', 'ZEOP', 'MAORE MOBILE', 'DAUPHIN TELECOM', 'PMT/VODAFONE', 'GLOBALTEL', 'DIGICEL', 'Gouv Nelle Calédonie (OPT)', 'SPM TELECOM', 'BOUYGUES TELECOM', 'ORANGE', 'SFR', 'OUTREMER TELECOM', 'Station étrangère'}
--------------------------------------
sup_id
63279
--------------------------------------
emr_lb_systeme
14
{'LTE 1800', 'LTE 800', 'GSM 900', 'GSM 1800', '5G NR 2100', 'UMTS 2100', 'LTE 2100', '5G NR 700', 'LTE 900', 'LTE 700', '5G NR 3500', 'LTE 2600', 'UMTS 900', '5G NR 1800'}
--------------------------------------
emr_dt
8558
--------------------------------------
sta_nm_dpt
107
--------------------------------------
code_insee
20126
--------------------------------------
generation
4
{'4G', '3G', '5G', '2G'}
--------------------------------------
date_maj
1
{'2023-01-04'}
--------------------------------------
sta_nm_anfr
114264
--------------------------------------
nat_id
26
{4, 8, 9, 10, 11, 12, 17, 19, 20, 23, 24, 26, 31, 32, 33, 34, 38, 39, 40, 41, 42, 43, 44, 48, 49, 52}
--------------------------------------
sup_nm_haut
768
--------------------------------------
tpo_id
85
--------------------------------------
adr_lb_lieu
28003
--------------------------------------
adr_lb_add1
51943
--------------------------------------
adr_lb_add2
14828
--------------------------------------
adr_lb_add3
1444
--------------------------------------
adr_nm_cp
6204
--------------------------------------
com_cd_insee
20126
--------------------------------------
coordonnees
62526
--------------------------------------
coord
62526
--------------------------------------
statut
3
{'En service', 'Projet approuvé', 'Techniquement opérationnel'}
--------------------------------------

In [21]:
set(df['code_insee']==df["com_cd_insee"])

{True}